<% include ./header %>

  <div class="jumbotron text-center" id="front-jumbo">
    <div class="container">
    <br>
    <br>
    <br>
      <h1>What's in your pantry?</h1>
      <div>
        <form action="/searchc" method="POST" class="navbar-form" id="jumbo-search">
          <p>Search by your ingredients...</p>
          <div class="form-group">
            <p hidden><input type="text" name="main" class="form-control" placeholder="Chicken..."></p>
            <p><input type="text" name="ingredient1" class="form-control" placeholder="First Ingredient"></p>
            <p hidden><input type="text" name="ingredient2" class="form-control" placeholder="Second Ingredient"></p>
            <p hidden><input type="text" name="ingredient3" class="form-control" placeholder="Third Ingredient"></p>
            <p hidden><input type="text" name="allergy1" class="form-control" placeholder="First Allergy"></p>
            <p hidden><input type="text" name="allergy2" class="form-control" placeholder="Second Allergy"></p>
            <p hidden><input type="text" name="allergy3" class="form-control" placeholder="Third Allergy"></p>
          </div>
          <button type="submit" class="btn btn-default">GO!</button>
        </form>
       </div>
    </div>
  </div>

  <div class="container-fluid random-recipes">
    <% recipeData.recipes.forEach(recipe => { %>
      <div class="col-lg-3 col-sm-6 portfolio-item">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <div class="recipe-image-cropper">
          <img src ="<%= recipe.image %>" class="img-responsive" size="40x40">
        </div>
        <div class="portfolio-caption">
          <h4><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h4>
          <p class="text-muted">COOK TIME: <%= recipe.readyInMinutes %></p><br>
          <p class="text-muted"><strong>Ingredients: </strong>
            <%= recipe.extendedIngredients.map(ing => ing.name).join(', ') %>
          </p>
        </div>
      </div>
    <% }) %>
  </div>

</body>
</html>
