<% include ../header %>

<h1>Edit Profile</h1>

<ul id="restrictions">
  <% user.restrictions.forEach(function(r) { %>
    <li><%= r %>&nbsp; <button class="btn btn-xs btn-danger" data-id="<%= r %>">X</button></li>
  <% }) %>
</ul>

<!-- ajax delete call  -->
<!-- jquery to remove li from dom  -->
<form action="/users/<%= user.id %>/restrictions/new?_method=PUT" method="post">
  <label>Add Restrictions:
    <input type="text" name="restrictions">
  </label>
  <input class="btn btn-default" type="submit" value="Save">
</form>

<script>
$('#restrictions').on('click', 'button', function(evt) {
  console.log($(this).attr('data-id'));
  $.ajax({
    url: '/users/restrictions/' + $(this).attr('data-id'),
    method: 'DELETE'
  });
  $(this).closest('li').remove();
})
</script>

<ul id="userPantry">
  <% user.pantry.forEach(function(p) { %>
    <li><%= p %>&nbsp; <button class="btn btn-xs btn-danger" data-id="<%= p %>">X</button></li>
  <% }) %>
</ul>

<form action="/users/<%= user.id %>/pantry/new?_method=PUT" method="post">
  <label>Add Ingredients to your Pantry:
    <input type="text" name="pantry">
  </label>
  <input class="btn btn-default" type="submit" value="Save">
</form>

<script>
$('#userPantry').on('click', 'button', function(evt) {
  console.log($(this).attr('data-id'));
  $.ajax({
    url: '/users/pantry/' + $(this).attr('data-id'),
    method: 'DELETE'
  });
  $(this).closest('li').remove();
})
</script>
<% include ./footer %>
