<% include ../header %>

  <div class="jumbotron text-center">
    <div class="container">
    </div>
  </div>
  <div class="container-fluid">
        <div class ="row">
          <div class="text-center"><%= user.name %></div>
          <div class="text-center"><%= user.email %></div>
          Restrictions:
          <ul>
            <% user.restrictions.forEach(function(r) { %>
              <li><%= r %></li>
            <% }) %>
          </ul>
          Your Pantry:
          <ul>
            <% user.pantry.forEach(function(p) { %>
              <li><%= p %></li>
            <% }) %>
          </ul>
          <!-- <div class="col s12"><%#= user.pantry %></div> -->
          <!-- <div class="col s12"><%#= user.grocery %></div> -->
        </div>
        <a href="/users/<%= user.id %>/edit">Edit Profile</a>
  </div>
</body>
</html>
