<% include ../header %>

<div class="container-fluid fav-recipes">
  <div id="favorites">
  <% if (user.favorites.length > 0) { %>
    <% recipes.forEach(function(f) { %>
      <div class="col-lg-3 col-sm-6 portfolio-item" id="one-recipe">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <div class="recipe-image-cropper">
          <img src ="<%= f.imageUrl %>" class="img-responsive" size="40x40">
        </div>
        <div class="portfolio-caption">
          <h4><button class="glyphicon glyphicon-remove" data-id="<%= f.id %>"></button><a href="/recipes/<%= f.id %>">&nbsp;&nbsp;&nbsp;<%= f.title %></a></h4>
          <p class="text-muted">COOK TIME: <%= f.readyInMinutes %></p><br>
          <p class="text-muted"><strong>Ingredients: </strong>
            <%= f.ingredients.map(ing => ing.name).join(', ') %>
          </p>
        </div>
      </div>
    <% }) %>
     <% } else { %>
      <h2 class="text-center">Oopsie, looks like you don't have any favorites saved!</h2>
    <% } %>
  </div>

<script>
  $('#favorites').on('click', 'button', function(evt) {
    console.log($(this).attr('data-id'));
    $.ajax({
      url: '/recipes/' + $(this).attr('data-id') + '/fav',
      method: 'DELETE'
    });
    $(this).closest('#one-recipe').remove();
  })
</script>

<% include ../footer %>
